<section class="mt-5">
  <div class="overflow-x-auto">
    <table class="table table-md mt-2 w-full">
      <thead>
        <tr>
          <th>#</th>
          <th>Ícono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Población</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (country of countries(); track country.alpha3Code; let i = $index) {
          <tr [class.hover:bg-base-300]="i % 2 > 0">
            <td>{{ i + 1 }}</td>
            <td>
              <img [src]="country.flag" class="w-4" [alt]="country.name" />
            </td>
            <td>
              <img [src]="country.flag" class="w-10" [alt]="country.name" />
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>
              <span class="badge badge-secondary">{{ country.population | number }}</span>
            </td>
            <td>
              <a
                [routerLink]="['/country/by', country.alpha3Code]"
                class="link-primary cursor-pointer"
                >Más información</a
              >
            </td>
          </tr>
        }

        @if (errorMessage()) {
          <tr>
            <td colspan="8" class="text-center">{{ errorMessage() }}</td>
          </tr>
        }

        <!--  -->
        @if (countries().length === 0 && !isLoading()) {
          <tr>
            <td colspan="8" class="text-center">No se encontraron resultados</td>
          </tr>
        }

        <!--  -->
        @if (isLoading()) {
          <tr>
            <td colspan="8" class="text-center">Buscando países</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
